{% extends 'base.html.twig' %} 

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>

    <a href="{{ path('new_entreprise') }}" class="btn btn-primary">Ajouter une entreprise</a><br>

        {% for entreprise in entreprises %}
        <a class="btn btn-warning" href=" {{ path('edit_entreprise', {'id':entreprise.id }) }}">Edit</a>
        <a href="{{ path('display_entreprise', {'id':entreprise.id }) }}">{{entreprise}}</a>    
        <br>
        
        {% endfor %}

  
{% endblock %}
